@charset "UTF-8";
/* CSS Document */

#body {
height: auto;
margin: 0 auto;
padding: 0; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
}


#imgBody {

position:fixed;
top:-20px;
right:-5px;
left:-40px;
z-index:-1;
opacity:0.5;

}


#mainWrapper {
width: 100%;
padding: 0px;
margin-right: auto; 
margin-left: auto; 
margin-top: 0px; 
margin-bottom: 0px;
border: 2px #9D6931 solid;
}

#banner {

width: 100%;
height: 150px;
background-color: rgba(0, 0, 0, .8);

}

#banner img {
	
border-radius: 8px;
float: left;
margin-top: 1.5%;
margin-left: 2.5%;

opacity: 0.8;

}

#slogan {

float: left;
margin-top: 3.5%;
margin-left: 1%;

}

.logo
{

width: 350px;
height: 350px;
background-color: #888;
padding: 8px;
margin-right: 1px;
margin-left: 20px;
margin-bottom: 15px;
margin-top: 15px;
display: inline-block;
vertical-align: top;
color: white;
text-align: center;
border-radius: 8px;
border-top: 1px solid #DDD;
border-bottom: 2px solid #555;

}

#hNav {
width: auto;
background-color: rgba(255, 0, 0, 0.3);
float: right;
margin-top: 70px;
margin-right: 80px;
font-family: Calibri, Verdana, Arial;
font-size: 20px;

}


#hNav ul {

list-style: none;




}


#hNav li {

width: auto;
padding: 5px;
border-top: 3px solid #B96834;
margin: 10px;
float: left;
	
}

#hNav a {
	
color: #B96834;
text-decoration: none;
transition: font-size 2s;
	
}

#hNav a:hover {
	
background-color: #282B35;
border-radius: 8px;
	font-size: 26px;
	
}

#hNav li ul {
	
display: non;
	visibility: hidden;
	opacity: 0;
position: relative;

  transition: opacity 2s, visibility 2s;
	
}

#hNav li ul a {
	
border-radius: 8px;

	
}

#hNav li:hover ul {
	display: block;
visibility: visible;
	opacity: 1;

}

#content {


}

#content h1 {

margin-right: 200px;
text-align: center;
color: #5E2D0E;
text-shadow: 10px 10px 5px #888888;

}


#imgIndex1 {

width: 635px;
height: auto;
float: left;

}

#imgIndex1 img {
	
border-radius: 8px;	
	
}


#imgIndex2 {
	
float: left;
width: 300px;
height: 180px;
margin-top: 17px;
margin-left: 10px;
overflow: scroll;
border: 3px solid #282B35;
border-radius: 8px;
font-size: 14px;

}

#imgIndex2 img {
	
border-radius: 8px;	
	
}

#imgIndex3 {
	
float: left;
width: 300px;
height: 183px;
margin-top: 15px;
margin-left: 10px;
overflow: scroll;
border: 3px solid #282B35;
border-radius: 8px;
font-size: 14px;
	
}

#imgIndex3 img {
	
border-radius: 8px;	
	
}

#textIndex {
	
width: 910px;
height: auto;
margin-top: 430px;
padding: 40px;
box-shadow: 10px 10px 5px #888888;
	
}


#imgAbout1 {
	
float: right;
margin-right: 20px;

}

#imgAbout1 img {
	
border-radius: 8px;
background-color: transparent;
box-shadow: 3px 3px 15px;
transition-property: width;
transition-duration: 1s;
transition-timing-function: linear;
transition-delay: 12s;
	
}


#textAbout1 {
	
width: 500px;
height: 350px;
padding-top: 65px;
padding-left: 15px;
	
}

#imgAbout2 {
	
float: left;
padding-left: 30px;
margin-top: 20px;
color: black;
border-radius: 8px;

}

#imgAbout2 img {
	
border-radius: 8px;
background-color: transparent;
box-shadow: 3px 3px 15px;
	
}

#textAbout2 {
	
width: 450px;
height: 360px;
padding-top: 95px;
padding-left: 470px;
	
}

#aboutClose {

padding-left: 300px;

}


#vNavServBox {
width: 180px;
height: 980px;
margin: 0;
margin-top: 15px;
padding: 5px;
float: left;
}

#vNavlist {
margin: 0;
margin-bottom: 10px;
padding: 0;
list-style: none;
font-size: 12px;
}

#vNavlist a {
display: block;
padding: 14px;
border-top: 1px solid #DDD;
border-bottom: 2px solid #555;
background-color: #888;
color: white;
text-decoration: none;
border-radius: 8px;
}

#vNavlist a:hover {
background-color: #5F7E86;
color: brown;
font-size: 16px;
}


#vNavlist a:active {
background-color: #5F7E86;
color: brown;
font-size: 16px;
}



.servBox {
width: 350px;
height: 350px;
background-color: #888;
padding: 8px;
margin-right: 1px;
margin-left: 20px;
margin-bottom: 15px;
margin-top: 15px;
display: inline-block;
vertical-align: top;
color: white;
text-align: center;
border-radius: 8px;
border-top: 1px solid #DDD;
border-bottom: 2px solid #555;
}

.servBox a {
	
text-decoration: none;
color: white;
width: 300px;
height: 300px;
	
}


.servBox img {
	
border-radius: 8px;
	
}


#servBox2 {
width: 750px;
height: 750px;
background-color: #888;
padding: 8px;
margin-right: 1px;
margin-left: 30px;
margin-bottom: 15px;
margin-top: 15px;
display: inline-block;
vertical-align: top;
text-align: center;
border-radius: 8px; 
border-top: 1px solid #DDD; 
border-bottom: 2px solid #555;

}

#servBox2 a {

text-decoration: none;
color: lightblue;
font-size: 28px;

}


#servBox2Text {
	
width: 550px;
height: auto;
margin-top: 25px;
margin-left: 100px;
font-size: 12px;

}


#servBox2 img {

border-radius: 8px;

}


#contactTitle {
	
margin-left: 450px;	
	
}

/* This is the Begining of the Contact Form*/

aside {
	
width: 500px;
float: left;
	
}


fieldset {
	
margin-left: 30px;
margin-bottom: 50px;
padding-right: 50px;
border: 2px solid #BDBDBD;
border-radius: 8px;

}


label { 
	
float: left;
width: 120px;
text-align: right;
padding-top: 3px;
padding-right: 10px;
margin-top: 3px;
margin-right: 0px;

}


input { 
	
margin-top: 10px;
margin-bottom: 20px;
margin-left: 0px;
padding-left: 2px;
display: block;
border-radius: 4px;

}


.equipment {
	
margin-top: 4px;
	
}

.checkbox {

margin-top: 30px;
margin-bottom: 22px;

}

textarea { 
	
margin-top: 55px;
margin-right: 30px;
margin-bottom: 20px;
margin-left: 40px;
display: block;
border-radius: 6px;

}

#fService {
	
font-size: 18px;
margin-left: 73px;
	
}


#mContact {
	
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
font-size: 14px;
margin-right: 20px;
margin-left: 45px;
padding: 10px;
padding-right: 34px;
padding-left: 34px;
float: left;
	
}


#mReset {
	
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
font-size: 14px;
margin-right: 20px;
margin-left: 25px;
padding: 10px;
padding-right: 37px;
padding-left: 37px;
float: left;
	
}


/* This is the End of the Contact Form*/



#contactInfo {
	
width: 648px;
height: auto;
float: left;
border: 1px solid #BDBDBD;
margin-left: 150px;
margin-top: 40px;
padding-bottom: 40px;
border-radius: 8px;
	
}

#contactInfo img {
	
padding-bottom: 15px;
border-radius: 8px;
	
}

#contactInfo p {
	
margin-left: 50px;
font-size: 16px;
	
}


#footer {
height: 30px;
padding-top: 1px;
padding-bottom: 15px;
margin-top: 10px;
background-color: #242627;
text-align: center;
font-size: 13px;
color: #9E343C;
clear: both;
}

